<footer class="bg-p text-center text-lg-start text-white">
 
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">DevanshAnkita.com</a>
    </div>
   
  </footer>